<div class="item-textareas">
  <div>
    <label>{{localize 'sr4.item.notes'}}</label>
    <textarea name="system.notes">{{ system.notes }}</textarea>
  </div>
  <div>
    <label>{{localize 'sr4.item.description'}}</label>
    <textarea name="system.description">{{ system.description }}</textarea>
  </div>
</div>
