<div class="item-textareas">
  {{> textarea-field label='sr4.item.notes' name='system.notes' value=system.notes}}
  {{> textarea-field label='sr4.item.description' name='system.description' value=system.description}}
</div>
